<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Drop Box</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <style>
    #main-div {
      display: flex;
      flex-direction: row;
    }
    .upload-main{
      width:30%;
      margin:auto;
      height:30%;
    }
    #button-main {
      padding-left: 20px;
      padding-right: 30px;
    }
    table {
      border-collapse: collapse;
      border: inset;
      width: 60%;
      margin-left: 10%;
    }
    #action-div {
      display: flex;
      flex-direction: row;
      margin-left: 30%;
    }
    .files-table-row {
      text-align: center;
    }
    .anchor {
      text-decoration: none;
    }
    #file-upload-form {
        display: flex;
        flex-basis: auto;
    }
  </style>
</head>
<body>
<div>
    <h2 align="center">Dropbox</h2>
    <div class="notification-btn">
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">
                <p th:text="'   Logout   '"></p>
            </a>
        </span>
    </div>
</div>
<div class="upload-main">
    <form id="file-upload-form" th:action="@{/folder/{name}(name = ${folderName})}"
          method="post" enctype="multipart/form-data">
        <input type="file" id="myFile" name="file" multiple required >
        <input style="cursor:pointer" type="submit" th:value="'Upload file'"/>
    </form>
</div>
<div id="delete-folder">
    <a th:href="@{/delete/{name}(name = ${folderName})}">
        <p th:text="'Delete Folder'"></p>
    </a>
    <a th:href="@{/download/{name}(name = ${folderName})}+'.zip'">
        <p th:text="'Download Folder'"></p>
    </a>
</div>
<div id="main-div">
    <div id="button-main">
        <div class="notification-btn">
            <a class="anchor" th:href="@{/}">
                <p th:text="Home"></p>
            </a>
        </div>
        <div class="notification-btn">
            <a class="anchor" th:href="@{/notification}">
                <p th:text="Notifications"></p>
            </a>
        </div>
        <div class="notification-btn">
            <a class="anchor" th:href="@{/shared}">
                <p th:text="Shared"></p>
            </a>
        </div>
        <div class="notification-btn">
            <a class="anchor" th:href="@{/bin}">
                <p th:text="'Deleted Files'"></p>
            </a>
        </div>
    </div>
    <br>
    <table th:if="${!createFolder}">
        <tr class="files-table-row">
            <th th:text="Name"></th>
            <th th:text="Download"></th>
            <th th:text="View"></th>
            <th th:text="Action"></th>
        </tr>
        <tr th:each="file : ${files}" class="files-table-row">
            <td>
                <div id="first-column">
                    <i style="font-size:25px;color: #90adf1f7" th:class="'fa fa-file'"></i>
                    <a class="text-decoration-none" th:href="@{/addstar/file{id}(id = ${file.id})}"
                       th:if="${!file.isStarred}">
                        <i style="font-size:14px;color: #e9d74d" class="far fa-star"></i>
                    </a>
                    <a class="text-decoration-none" th:href="@{/removestar/file{id}(id = ${file.id})}"
                       th:if="${file.isStarred}">
                        <i style="font-size:14px;color: #e9d74d" class="fa fa-star"></i>
                    </a>
                    <a class="text-decoration-none" scope="row" th:href="@{/showComment/file{id}(id = ${file.id})}"
                       th:text="${file.name}"></a>
                </div>
            </td>
            <td><a class="anchor" th:href="@{/download/file{id}(id = ${file.id})}" th:text="Download"></a></td>
            <td><a class="anchor" th:href="@{/view/file{id}(id = ${file.id})}" th:text="View"></a></td>
            <td>
                <div id="action-div">
                    <form th:action="@{/delete/file{id}(id = ${file.id})}">
                        <input th:type="submit" th:value="Delete"/>
                    </form>
                    <form th:action="@{/share/file{id}(id = ${file.id})}">
                        <input th:type="submit" th:value="Share"/>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>