<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <input type="file" id="myFile" name="file" multiple required>
    <input type="submit">
</form>
<table>
    <tr>
        <th th:text="ID"></th>
        <th th:text="Name"></th>
        <th th:text="Download"></th>
    </tr>
    <tr th:each="file : ${files}">
        <td th:text="${file.id}"></td>
        <td th:text="${file.name}"></td>
        <td><a th:href="@{/file{id}(id = ${file.id})}" th:text="Download"></a></td>
    </tr>
</table>
</body>
</html>