<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/%22%3E%22%3E">
<head>
    <meta charset="UTF-8">
    <title>Share File</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    body {
        margin-top: 10%;
    }
    #main-div {
        text-align: center;
        background-color: #504e5429;
        margin-left: 30%;
        margin-right: 30%;
        padding-top: 6%;
        padding-bottom: 10%;
        border-radius: 5px;
    }
    .anchor {
        text-decoration: none;
    }
</style>
</head>
<body>
<div id="main-div">
    <form th:action="@{/share}" th:method="post">
        <p th:text="'Share file link to your connections...!'"></p>
        <div th:each="email : ${emailsSelected}" th:if="${emailsSelected} != null">
            <input name="removeEmail" th:type="submit" th:value="${email}">
        </div>
        <input list="publishedDateList" name="email"/>
        <datalist id="publishedDateList">
            <div th:each="guestUser : ${guestUsers}">
                <option><p th:text="${guestUser.email}"></p></option>
            </div>
        </datalist>
        <input name="add" th:type="submit" th:value="Add"><br>
        <input th:type="radio" id="edit" th:name="edit" th:value="true">
        <label for="edit">Edit</label>
        <input th:type="radio" id="view" th:name="edit" th:value="false" checked>
        <label for="view">View</label><br>
        <input th:type="submit" th:value="Share">
    </form>
</div>
</body>
</html>